@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Zilla+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-text-color: #111010;
    --background-color: #67B749;
    font-family: 'Zilla Slab', serif;
    color: var(--main-text-color);
}

img {
    display: block;
    width: 100%;
}

h2 {
  text-align: center;
}

.container {
  max-width: 980px;
  margin: auto;
}

#header-img {
    display: flex;
    height: 50px;
    width: min-content;
}

nav {
  background-color: var(--background-color);
}

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
}

@media (min-width: 600px) {
  #nav-bar > .container {
    display: flex;
  }
}

#header-img {
  display: flex;
  align-items: center;
}

.header-nav__logo {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
}

.header-nav__menu {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
  .header-nav__menu {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
  }
}

.header-nav__menu-item {
  color: var(--main-text-color);
  display: flex;
  text-decoration: none;
  padding: 4px;
}

.header-nav__menu-item:hover {
  text-decoration: underline;
  color: #1D5E05;
}

.header-banner {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/30/Mariko_Tea_Plantation_135309311_org.jpg);
  background-size: cover;
  min-height: 400px;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-banner__h1 {
  font-size: 68px;
  text-align: center;
}

.header-banner__button {
  background-color: var(--background-color);
  background: linear-gradient(top, #68b12f, #50911e);
  border: 1px solid #509111;
  border-bottom: 1.5px solid var(--main-text-color);
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 var(--main-text-color);
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 var(--main-text-color);
  margin: 3px;
  padding: 3px;
}

.header-banner__button:hover {
  opacity:.85;
  cursor: pointer;
}

.grid {
  display: flex;
  text-align: center;
  flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

#container-img {
  transform: scale(1.5);
}
.icon {
  transform: scale(0.5);
}

.description {
  margin: 5px;
}

.video-plantation p {
  display: flex;
  text-align: center;
  justify-content: center;
}

#video {
  margin: 5px;
  display: flex;
  position: relative;
  left: 200px;
}

.product-card {
  border: 1.5px solid var(--background-color);
  padding: 4px;
}

.product-card__image {
  width: 230px;
  height: 200px;
}

.product-card__h3 {
  text-align: center;
}

.product-card__description {
  text-align: justify;
}

.product-card__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
}

 .main-products__list {
    display: grid;
    gap: 7px;
}

@media (min-width: 640px) {
  .main-products__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 860px) {
  .main-products__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 980px) {
  .main-products__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

::-webkit-input-placeholder {
   color: green;
   font-weight: bold
} 
.contacts {
  width:750px;
  padding:12px;
  border-bottom:1px solid #eee;
  padding:12px;
  border-bottom:1px solid #eee;
  position:relative;
}

.footer__contacts input {
   border:1px solid #aaa;
   box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee;
   border-radius: 3px;
}

#submit, .button-card {
  background-color: #68b12f;
  background: linear-gradient(top, #68b12f, #50911e);
  border: 1px solid #509111;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 #9fd574;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #396715;
  margin: 3px;
  padding: 3px;
}

#submit, .button-card:hover {
  opacity:.85;
  cursor: pointer;
}